md-check-list, md-radio-list, md-switch-list {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0.5rem 0;
    md-check-item, md-radio-item, md-switch-item {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        min-height: 1.5rem;
        label{
            flex: 1;
            padding: 0.75rem 1rem;
            font-size: var(--md-sys-typescale-body-medium-size);
            font-weight: var(--md-sys-typescale-body-medium-weight);
            line-height: var(--md-list-typescale-body-medium-line-height);
        }
        &.trailing-label label,
        &.trailing-label label{
                order: 2;
        }
    }
}