md-check-list, md-radio-list, md-switch-list {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0.5rem 0;
}
md-check-list md-check-item, md-check-list md-radio-item, md-check-list md-switch-item, md-radio-list md-check-item, md-radio-list md-radio-item, md-radio-list md-switch-item, md-switch-list md-check-item, md-switch-list md-radio-item, md-switch-list md-switch-item {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 1.5rem;
}
md-check-list md-check-item label, md-check-list md-radio-item label, md-check-list md-switch-item label, md-radio-list md-check-item label, md-radio-list md-radio-item label, md-radio-list md-switch-item label, md-switch-list md-check-item label, md-switch-list md-radio-item label, md-switch-list md-switch-item label {
  flex: 1;
  padding: 0.75rem 1rem;
  font-size: var(--md-sys-typescale-body-medium-size);
  font-weight: var(--md-sys-typescale-body-medium-weight);
  line-height: var(--md-list-typescale-body-medium-line-height);
}
md-check-list md-check-item.trailing-label label, md-check-list md-check-item.trailing-label label, md-check-list md-radio-item.trailing-label label, md-check-list md-radio-item.trailing-label label, md-check-list md-switch-item.trailing-label label, md-check-list md-switch-item.trailing-label label, md-radio-list md-check-item.trailing-label label, md-radio-list md-check-item.trailing-label label, md-radio-list md-radio-item.trailing-label label, md-radio-list md-radio-item.trailing-label label, md-radio-list md-switch-item.trailing-label label, md-radio-list md-switch-item.trailing-label label, md-switch-list md-check-item.trailing-label label, md-switch-list md-check-item.trailing-label label, md-switch-list md-radio-item.trailing-label label, md-switch-list md-radio-item.trailing-label label, md-switch-list md-switch-item.trailing-label label, md-switch-list md-switch-item.trailing-label label {
  order: 2;
}
