@font-face {
    font-family: "Material Icons";
    src: url("../assets/material-icons.woff2") format("woff2");
}
md-icon{
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}
